apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: monitoring
data:
  prometheus.yml: |
    global:
      scrape_interval: 5s

    scrape_configs:   
      - job_name: 'kubelet'
        scheme: https
        metrics_path: /metrics/cadvisor
        kubernetes_sd_configs:
        - role: node
        bearer_token_file: /var/run/secrets/kubernetes.io/serviceaccount/token
        tls_config:
          insecure_skip_verify: true
        relabel_configs:
        - action: replace
          source_labels: [__meta_kubernetes_node_address_InternalIP]
          target_label: __address__
          replacement: $1:10250
      - job_name: kube-state-metrics
        kubernetes_sd_configs:
        - role: pod
        relabel_configs:
        - source_labels: [__meta_kubernetes_pod_label_app]
          regex: kube-state-metrics
          action: keep
        - source_labels: [__meta_kubernetes_pod_container_port_number]
          regex: "8089"
          action: keep






